.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  background: linear-gradient(135deg, #66bb6a 0%, #ffa726 100%);
}

.main {
  flex: 1;
  overflow-y: auto;
}
