.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6eea86, #ffa500);
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
  }
}
