.sideMenu {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #eaeaea;
  height: 100%;
  // position: sticky;
  // top: 60px; // Adjust based on header height

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
          display: block;
          padding: 8px 12px;
          border-radius: 4px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}
