.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.tableContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
